<h1 class="heading">Eat-Da-Burger!</h1>

<img class="imgClass" src="../assets/img/burger_pic.png">

<h2>List of Burgers!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burgers-block devoured=false}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Deleted Burgers!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burgers-delete devoured=true}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add Burgers!</h2>
<form class="create-form">

    <div class="form-group">
        <label for="brg">Add a burger :</label>
        <input type="text" id="brg" name="burger_name">
    </div>

    <button type="submit">Submit</button>
</form>