li {
  padding: 5px;
  margin: 10px;
  background: #faebd7;
  background-size: auto;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.heading {
  text-align: center;
}

body {
  text-align: center;
}

ul {
  list-style-type: none;
}
